.theme-button{
  background-color: #e93922;
  color: white;
  border: none;
}
.theme-button:hover{
  background-color: #a90606;
  color:white;
}
.auth-link {
  color: #007bff;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
}

.form-errors,
.form-notice {
  margin-bottom: 15px;
}