.order-history-page {
  margin: 20px;
  font-family: Arial, sans-serif;
}
.order-details {
  background-color: rgba(250, 189, 5,0.4);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.order-item {
  margin-bottom: 30px;
}

.order-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-details-table th, .order-details-table td {
  border: 5px solid rgba(250, 189, 5,1);
  padding: 8px;
  text-align: left;
}

.order-details-table th {
  background-color: rgba(250, 189, 5,1);
  font-weight: bold;
}
.order-details-table td {
  background-color: rgba(250, 189, 5,0.1);
  font-weight: bold;
}